<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Học Luật</ion-title>
    <ion-buttons end>
      <button *ngIf="isLoggedIn" class="isLogin" (click)="askLogout()" ion-button>
          <img src="{{accountPhoto}}" />
      </button>
      <button *ngIf="!isLoggedIn" class="login" (click)="login()" ion-button>
          <ion-icon name="ios-contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-card *ngFor="let item of categories">
      <button ion-item (click)="itemTapped($event, item)">
        <img item-start src="assets/imgs/{{item.icon}}" />
        <p>{{item.name}}</p>
        <ion-icon [name]="ios-arrow-forward" item-end></ion-icon>
      </button>
    </ion-card>
  </ion-list>
</ion-content>
