.question-popup {
    .scroll-content {
        text-align: center;
        margin-top: 40px;
        padding: 16px !important;
        .large-circle {
            border: 1px solid #000;
            border-radius: 50%;
            width: 40px;
            margin: 5px 8px;
            height: 40px;
            background-color: white;
            &.isCorrect {
                border: 1px solid #2ad2c9;
            }
            &.notCorrect {
                border: 1px solid red;
            }
        }
    }
}
