<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-item *ngIf="showEmpty">
        <ion-label class="empty">Mục này chưa có dữ liệu, vui lòng quay trở lại sau.</ion-label>
    </ion-item>

    <ion-slides *ngIf="listQuestions.length > 0" #slides pager paginationType="fraction">

        <ion-slide *ngFor="let item of listQuestions; let first = first; let last = last">

            <ion-card>
                <ion-card-header>
                    <span class="questionId"><strong>Câu {{item.id}}</strong></span>. <span [innerHtml]="item.name"></span>
                </ion-card-header>

                <ion-card-content *ngIf="item.img">
                        <img [src]="item.img" />
                </ion-card-content>

                <ion-card-content class="{{asnwer.aId}}" *ngFor="let asnwer of item.ans; let i = index">
                    <ion-item (click)="clickAnswer(asnwer, answerClick = !answerClick, item.completed)">
                        <span class="circle" item-left>{{i + 1}}</span> {{asnwer.aName}}
                    </ion-item>
                </ion-card-content>
            </ion-card>

            <ion-card *ngIf="item.completed" class="explain">
                <ion-icon (click)="presentPopover($event, item)" name="ios-information-circle-outline"></ion-icon>
            </ion-card>

            <ion-footer>
                    <ion-toolbar>
                        <ion-grid>
                            <ion-row>
                              <ion-col (click)="isFavorite(item)" text-center col-md-3>
                                  <ion-icon [ngClass]="(item.isFa)?'isFavorite':''" name="md-star-outline"></ion-icon>
                              </ion-col>
                              <ion-col (click)="prev()" text-center col-md-3>
                                  <ion-icon [ngClass]="{ disabled: first }" name="arrow-back"></ion-icon>
                              </ion-col>
                              <ion-col (click)="completed(item)" text-center col-md-3>
                                  <ion-icon name="md-checkmark"></ion-icon>
                              </ion-col>
                              <ion-col (click)="next()" text-center col-md-3>
                                  <ion-icon [ngClass]="{ disabled: last }" name="arrow-forward"></ion-icon>
                              </ion-col>
                              <ion-col (click)="openModal(listQuestions)" text-center col-md-3>
                                    <ion-icon name="md-more"></ion-icon>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                  </ion-toolbar>
                </ion-footer>
        </ion-slide>

    </ion-slides>

</ion-content>
