ion-card-header {
    white-space: unset;
    text-align: left;
}
.swiper-slide {
    display: block;
}
.card-content {
    padding: 5px 16px 5px;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: left;
}
