<!--
  Generated template for the ListQuestionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-slides #slides pager paginationType="fraction" (ionSlideDidChange)=slideChanged()>

        <ion-slide *ngFor="let item of listQuestions">
            <ion-card>
                <ion-card-header>
                    Câu <span class="questionId">{{item.id}}</span>. {{item.name}}
                </ion-card-header>
                <ion-card-content *ngFor="let asnwer of item.ans; let i = index">
                    <ion-item (click)="clickAnswer(asnwer, answerClick = !answerClick)">
                        <span class="circle {{asnwer.aId}}" item-left>{{i + 1}}</span> {{asnwer.aName}}
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    
    </ion-slides>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
              <ion-col (click)="isFavorite(favoClick =! favoClick)" text-center col-md-3>
                  <ion-icon name="md-star-outline"></ion-icon>
              </ion-col>
              <ion-col (click)="prev()" text-center col-md-3>
                  <ion-icon name="arrow-back"></ion-icon>
              </ion-col>
              <ion-col (click)="completed()" text-center col-md-3>
                  <ion-icon name="md-checkmark"></ion-icon>
              </ion-col>
              <ion-col (click)="next()" text-center col-md-3>
                  <ion-icon name="arrow-forward"></ion-icon>
              </ion-col>
              <ion-col (click)="openModal(listQuestions)" text-center col-md-3>
                    <ion-icon name="md-more"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
  </ion-toolbar>
</ion-footer>