<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Danh Mục</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <ion-buttons end>
          <button *ngIf="isLoggedIn" class="isLogin" (click)="askLogout()" ion-button>
              <img src="{{accountPhoto}}" />
          </button>
          <button menuClose *ngIf="!isLoggedIn" class="login-button" ion-item (click)="login()">
              <ion-icon name="ios-contact-outline"></ion-icon>
          </button>
      </ion-buttons>
    <ion-list>
      <ion-card *ngFor="let p of pages">
        <button menuClose ion-item (click)="openPage(p)">
            <img item-start src="assets/imgs/{{p.icon}}" />
          {{p.title}}
        </button>
      </ion-card>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>