// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bar-button, .toolbar-title {
    color: white;
}
.toolbar-background {
    background-color: #2ad2c9;
}

.login-button {
    border-top: unset !important;
    padding: 0 !important;
    .item-inner {
        background-image: none !important;
        padding-right: 0 !important;
        .label {
            text-align: center;
            margin: 0;
            .icon {
                font-size: 3em;
            }
        }
    }
}
.isLogin {
    margin: 5px auto 20px !important;
    width: 80px !important;
    background-color: #fff !important;
    img {
        border-radius: 50%;
        height: 45px;
        width: 45px;
    }
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../assets/fonts/RobotoCondensed-Regular.ttf');
    font-weight: 200
}

body {
    .app-root {
        font-family: RobotoCondensed-Regular !important;
    }
} 