page-thi-thu {
    ion-content {
        .button {
            background-color: #2ad2c9;
            width: 130px;
            margin: 25px auto 40px;
            display: block;
            .button-inner {
                color: #fff;
            }
            .icon {
                margin-left: 10px;
                &.pass {
                    color: #2ad2c9;
                }
                &.not-pass {
                    color: red;
                }
            }
        }
        .item-inner {
            background-image: none !important;
            padding-right: 10px !important;
            .icon {
                margin-left: 10px !important;
                margin-top: 5px !important;
                margin-bottom: 4px !important;
            }
            .ion-ios-eye-outline {
                font-size: 2.8em;
            }
        }
        .list {
            .icon {
                &.pass {
                    color: #2ad2c9;
                }
                &.not-pass {
                    color: red;
                }
            }
        }
    }
    .segment-button {
        border-color:  #2ad2c9 !important;
        color: #000 !important;
        &.segment-activated {
            color: #fff !important;
            background-color: #2ad2c9 !important;
        }
    }
}
