<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Thi Thử</ion-title>
      <ion-buttons end>
            <button class="help" (click)="helpText($event)" ion-button>
                <ion-icon name="ios-help-circle-outline"></ion-icon>
            </button>
          </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

    <button ion-button color="primary" [round]="true" (click)="start()">
        Bắt Đầu
        <ion-icon name="md-alarm"></ion-icon>
    </button>

    <ion-card *ngIf="listBaiLam.length">
        <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)">
            <ion-segment-button value="all">
                Tất Cả ({{listBaiLam.length}})
            </ion-segment-button>
            <ion-segment-button value="success">
                Đậu ({{passTest.length}})
            </ion-segment-button>
            <ion-segment-button value="fail">
                Không Đậu ({{failTest.length}})
            </ion-segment-button>
        </ion-segment>
    </ion-card>

    <ion-content>
            <div [ngSwitch]="selectedSegment">

              <ion-list *ngSwitchCase="'all'">
                    <ion-card *ngFor="let item of listBaiLam">
                        <button ion-item>
                            <ion-icon class="pass" *ngIf="item.numberCorrect > 27" name="md-happy" item-start></ion-icon>
                            <ion-icon class="not-pass" *ngIf="item.numberCorrect <= 27" name="md-sad" item-start></ion-icon>
                            <span item-start>{{item.numberCorrect}}/{{item.totalQuestion}}</span>
                            <ion-icon (click)="xemLai(item)" name="ios-eye-outline" item-end></ion-icon>
                            <ion-icon (click)="lamLai(item)" name="ios-refresh-circle-outline" item-end></ion-icon>
                            <ion-icon (click)="xoaItem(item)" name="ios-trash-outline" item-end></ion-icon>
                        </button>
                    </ion-card>
              </ion-list>
          
              <ion-list *ngSwitchCase="'success'">
                    <ion-card *ngFor="let item of passTest">
                        <button (click)="xemLai(item)" ion-item>
                            <ion-icon class="pass" name="md-happy" item-start></ion-icon>
                            <span item-start>{{item.numberCorrect}}/{{item.totalQuestion}}</span>
                            <ion-icon (click)="xemLai(item)" name="ios-eye-outline" item-end></ion-icon>
                            <ion-icon (click)="lamLai(item)" name="ios-refresh-circle-outline" item-end></ion-icon>
                            <ion-icon (click)="xoaItem(item)" name="ios-trash-outline" item-end></ion-icon>
                        </button>
                    </ion-card>
              </ion-list>
          
              <ion-list *ngSwitchCase="'fail'">
                    <ion-card *ngFor="let item of failTest">
                        <button (click)="xemLai(item)" ion-item>
                            <ion-icon class="not-pass" name="md-sad" item-start></ion-icon>
                            <span item-start>{{item.numberCorrect}}/{{item.totalQuestion}}</span>
                            <ion-icon (click)="xemLai(item)" name="ios-eye-outline" item-end></ion-icon>
                            <ion-icon (click)="lamLai(item)" name="ios-refresh-circle-outline" item-end></ion-icon>
                            <ion-icon (click)="xoaItem(item)" name="ios-trash-outline" item-end></ion-icon>
                        </button>
                    </ion-card>
              </ion-list>

            </div>

          </ion-content>

    <!-- <ion-card>
        <ion-card-header>
            Danh Sách Bài Làm 
        </ion-card-header>
        
        <ion-list>
            <button (click)="xemLai(item)" ion-item *ngFor="let item of listBaiLam">
                <ion-icon class="pass" *ngIf="item.numberCorrect > 27" name="md-checkbox-outline" item-start></ion-icon>
                <ion-icon class="not-pass" *ngIf="item.numberCorrect <= 27" name="ios-remove-circle-outline" item-start></ion-icon>
                <span *ngIf="item.numberCorrect > 27">Đậu</span>
                <span *ngIf="item.numberCorrect <= 27">Không Đậu</span>
                <span item-end>{{item.numberCorrect}}/{{item.totalQuestion}}</span>
            </button>
        
        </ion-list>
    </ion-card> -->

</ion-content>
