.ket-thuc {
    .popover-content {
        left: 0 !important;
        top: 0 !important;
        position: relative !important;
    }
}

.fail {
    .toolbar-background {
        background-color: #e55232;
    }
}


.button {
    width: 130px;
    margin: 15px auto;
    display: block;
    background-color: #2ad2c9;
    .button-inner {
        justify-content: unset;
    }
    .icon {
        margin-right: 20px;
        font-size: 1.5em;
        &.ion-ios-eye-outline {
            font-size: 2.2em;
        }
    }
}

.scroll-content {
    text-align: center;
    .icon {
        margin-left: 10px
    }
}
